p
{
    color: black;
    font-size: 30px;

}
input
{
    display: block;
    border: none;
    background-color: aliceblue;
    border:solid;
   color:  rgb(240, 240, 240);
   width: 400px;
   padding-bottom: 10px;
padding-top: 10px;
padding-left: 10px;
padding-right: 10px;
font-size: 15px;
margin-bottom: 15px;
   
    
}
.uber
{
    background-color: black;
    color: white;
    width: 200;
    padding-bottom: 10px;
padding-top: 10px;
padding-left: 15px;
padding-right: 15px;
margin-right: 10px;

}
.time
{
 padding-bottom: 10px;
padding-top: 10px;
padding-left: 15px;
padding-right: 15px;   
}
